[submodule "bundle/ruby-matchit"]
	path = bundle/ruby-matchit
	url = https://github.com/vim-scripts/ruby-matchit.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
